{%- liquid
  assign ratio = 1
  if product.featured_media and settings.image_ratio == 'portrait'
    assign ratio = 0.973
  elsif product.featured_media and settings.image_ratio == 'adapt'
    assign ratio = product.featured_media.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
-%}
{%- assign color_label = 'Color,color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva'
  | split: ','
-%}
<div class="single-product-wrap">
  <div class="product-image" id="pro-img-{{ section.id }}-{{ product.id }}" data-prod="{{ product.id }}">
    <a
      class="pro-img ratio"
      href="{{ product.url | within: collection }}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
    {%- if product.featured_media -%}
      <div class="{%- if product.media[1] != blank -%} img1{%- endif -%}">
        {% assign image_height = product.featured_media.width
          | divided_by: product.featured_media.aspect_ratio
        %}
        {{
          product.featured_media
          | image_url: width: 720
          | image_tag: width: product.featured_media.width, height: image_height, class: 'lazyload', loading: 'lazy'
        }}
      </div>
      {%- if settings.pro_hover_enable and product.media[1] != blank -%}
        <div class="img2">
          {% assign image_height = product.media[1].width | divided_by: product.media[1].aspect_ratio %}
          {{
            product.media[1]
            | image_url: width: 720
            | image_tag: width: product.media[1].width, height: image_height, class: 'lazyload', loading: 'lazy'
          }}
        </div>
      {%- endif -%}
      {%- else -%}
      {%- capture placeholder -%}product-apparel-{% cycle 1, 2, 3 %}{%- endcapture -%}
      {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </a>
    {%- render 'product-label', product: product -%}
    {%- if settings.wishlist_enable -%}
    <div class="product-action wishlist-btn">
      {%- render 'wishlist-button', product: product -%}
    </div>
    {%- endif -%}
    {%- if product.metafields.custom.timer -%}
    <div class="countdown-desk counter-event-{{ product.id }}" id="counter-event" data-enddate="{{ product.metafields.custom.timer }}">
      {{ product.metafields.custom.timer }}
    </div>
    {% endif %}
    {%- if settings.show_rating -%}
    <div class="product-grid-rating">
      <span aria-hidden="true" class="rating-star" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }};">
        <i class="fa fa-star"></i>
      </span>
      <span>{% if product.metafields.reviews.rating.value == blank %}0{% else %}{{- product.metafields.reviews.rating.value }}{% endif %}</span>
    </div>
    {%- endif -%}
  </div>
  <div class="product-content">
    <div class="type-title-price">
      <div class="type-title">
        {%- if settings.show_vendor -%}
        <div class="product-vendor">{{ product.vendor }}</div>
        {%- endif -%}
        <h6 class="mr-0">
          <a href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ product.title | truncate: 70 }}</a>
        </h6>
      </div>
      <div class="price-block">
        {% render 'price', product: product %}
      </div>
      <div class="product-stock-status">
        {%- if product.available -%}
          <span class="in-stock"><i class="feather-check-circle"></i> In Stock</span>
        {%- else -%}
          <span class="out-of-stock">{{ 'products.product.sold_out' | t }}</span>
        {%- endif -%}
      </div>
    </div>
    {% if settings.pro_gr_option_enable %}
      {% render 'product-grid-option', product: product, color_label: color_label, section: section %}
    {% endif %}
    {%- if product.metafields.custom.custom_content -%}
      <p class="mr-0 product-description">
        {{ product.metafields.custom.custom_content | strip_html | truncatewords: 35 }}
      </p>
    {%- else -%}
    {%- if product.description != '' -%}
      <p class="mr-0 product-description">{{ product.description | strip_html | truncatewords: 26 }}</p>
    {%- endif -%}
    {%- endif -%}
    {%- if product.available -%}
    <div class="qty-action card-add-to-cart">
      {%- liquid
        render 'product-grid-button', product: product, product_form_id: product_form_id, section_id: section.id, hide_quickview: true
      -%}
    </div>
    {%- endif -%}
    {%- if settings.quickview_enable -%}
    <div class="quick-view-bar">
      {%- render 'quickview-button', product: product, section_id: section.id -%}
    </div>
    {%- endif -%}
  </div>
</div>
<script type="text/javascript">
  addEventListener('DOMContentLoaded', (event) => {
    // product timer js
    $('.counter-event-{{ product.id }}').countdown($('.counter-event-{{ product.id }}').attr("data-enddate"), {defer: true }).on('update.countdown', function(event) {
      var $this = $(this).html(event.strftime('' + '<ul class="list-unstyled timer-row"><li class="timer-block"><span id="days" class="hr-time">%-D</span><span class="title-time">{{ settings.day_title }}</span></li>' + '<li class="timer-block"><span id="hours" class="hr-time">%H</span><span class="title-time">{{ settings.hour_title }}</span></li>' + '<li class="timer-block"><span id="minutes" class="hr-time">%M</span><span class="title-time">{{ settings.minute_title }}</span></li>' + '<li class="timer-block"><span id="seconds" class="hr-time">%S</span><span class="title-time">{{ settings.second_title }}</span></li></ul>'));
    }).countdown('start');
  });
</script>