{{ 'collection-list.css' | asset_url | stylesheet_tag }}
<section
  class="collection-list"
  style="--padding-top: {{ section.settings.section_padding_top }}px;--padding-bottom: {{ section.settings.section_padding_bottom }}px; --padding-top-xs: {{ section.settings.section_padding_top_xs }}px;--padding-bottom-xs: {{ section.settings.section_padding_bottom_xs }}px;--background-color: {{ section.settings.section_bg_color }};"
>
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    {% if section.settings.section_subheading != '' or section.settings.section_heading != '' %}
      <div class="section-capture">
        <div class="section-title">
          {% if section.settings.section_heading != '' %}
            <h2 class="mr-0" data-fade-in>{{ section.settings.section_heading }}</h2>
          {% endif %}
          {% if section.settings.section_subheading != '' %}
            <span data-fade-in class="sub-title">{{ section.settings.section_subheading }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="collection-wrap">
      <div class="swiper" id="collection-list-{{ section.id }}">
        <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide">
          {% assign category_product = collections[block.settings.slider_category_handle] %}
          <div class="collection-item" {{ block.shopify_attributes }}>
            <div class="collection-image">
              <a href="{{ category_product.url }}" class="image-wrap" data-fade-in>
                <span class="banner-hover image">
                 
                  {%- if block.settings.category_image != blank -%}
                    {{
                      block.settings.category_image
                      | image_url: width: 1024
                      | image_tag:
                        loading: 'lazy',
                        width: block.settings.category_image.width,
                        height: block.settings.category_image.height,
                        class: 'lazyload',
                        alt: block.settings.category_image.alt
                      | escape
                    }}
                  {%- else -%}
                    {%- capture placeholder -%}product-apparel-{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                    {{ placeholder | placeholder_svg_tag: 'placeholder-svg w-100 h-100' }}
                  {%- endif -%}
                
                </span>
              </a>
            </div>
            <div class="category-count" data-fade-in>
              {%- if section.settings.cat_item_bg_image != blank -%}
                {{
                  section.settings.cat_item_bg_image
                  | image_url: width: 1024
                  | image_tag:
                    loading: 'lazy',
                    width: section.settings.cat_item_bg_image.width,
                    height: section.settings.cat_item_bg_image.height,
                    class: 'lazyload',
                    alt: section.settings.cat_item_bg_image.alt
                  | escape
                }}
              {%- else -%}
                {%- capture placeholder -%}product-apparel-{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg w-100 h-100' }}
              {%- endif -%}
              <span class="item-count">
                <span class="count">{{ category_product.products.count | default: "0" }}+ </span>
                {% if category_product.products.count == 0 and category_product.products.count == 1 %}
                <span class="item">{{ section.settings.item_label }}</span>
                {%- else -%}
                <span class="item">{{ section.settings.items_label }}</span>
                {% endif %}           
              </span>
            </div>
            <div class="category-title" data-fade-in>
              <a href="{{ category_product.url }}" class="title mr-0">{{ category_product.title | default: 'Collection' }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        {% if section.settings.arrow_enable %}
        <div class="slider-arrow">
          <button class="arrow-prev arrow-prev-{{ section.id }}" aria-label="arrow"><i class="feather-arrow-left"></i></button>
          <button class="arrow-next arrow-next-{{ section.id }}" aria-label="arrow"><i class="feather-arrow-right"></i></button>
        </div>
        {% endif %} 
        {% if section.settings.dots_enable %}
        <div class="slider-dot slider-dot-{{ section.id }}"></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  addEventListener('DOMContentLoaded', (event) => {
    var swiper = new Swiper('#collection-list-{{ section.id }}', {
      slidesPerView: {{ section.settings.slider_item_desktop }},
      spaceBetween: 30,
      loop: true,
      grid: {
        rows: 1,
        fill: 'row' | 'column',
      },
      autoHeight: true,
      {% if section.settings.slider_autoplay_enable %}
      autoplay: {
        delay: {{ section.settings.slider_autoplay_timeout }},
        disableOnInteraction: false,
        pauseOnMouseEnter: true
      },
      speed: {{ section.settings.slider_autoplay_speed }},
      {% endif %}
      {% if section.settings.arrow_enable %}
      navigation: {
        nextEl: ".arrow-next-{{ section.id }}",
        prevEl: ".arrow-prev-{{ section.id }}",
      },
      {% endif %}
      {% if section.settings.dots_enable %}
      pagination: {
        el: ".slider-dot-{{ section.id }}",
        clickable: true
      },
      {% endif %}
      breakpoints: {
        0: {
          slidesPerView: 1,
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        320: {
          slidesPerView: {{ section.settings.slider_item_mobile }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        360: {
          slidesPerView: {{ section.settings.slider_item_mobile }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        540: {
          slidesPerView: {{ section.settings.slider_item_ipad }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        640: {
          slidesPerView: {{ section.settings.slider_item_ipad }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 12
        },
        768: {
          slidesPerView: {{ section.settings.slider_item_ipad }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: {{ section.settings.slider_item_ipadpro }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        },
        1199: {
          slidesPerView: {{ section.settings.slider_item_desktop }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        },
        1499: {
          slidesPerView: {{ section.settings.slider_item_desktop }},
          grid: {
            rows: 1,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "fluid"
    },
    {
      "type": "header",
      "content": "Section space top bottom"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Space top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Space bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "header",
      "content": "Category item label"
    },
    {
      "type": "image_picker",
      "id": "cat_item_bg_image",
      "label": "Item bg image",
      "info": "Recommended size: 130x65px"
    },
    {
      "type": "text",
      "id": "item_label",
      "label": "Item Label",
      "default": "Item"
    },
    {
      "type": "text",
      "id": "items_label",
      "label": "Items Label",
      "default": "Items"
    },
    {
      "type": "header",
      "content": "Slider option"
    },
    {
      "type": "select",
      "id": "slider_item_desktop",
      "label": "Desktop item",
      "info": "Width : > 1199px",
      "options": [
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        },
        {
          "label": "5",
          "value": "5"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "slider_item_ipadpro",
      "label": "Ipadpro item",
      "info": "Width : > 1024px",
      "options": [
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "slider_item_ipad",
      "label": "Ipad item",
      "info": "Width : > 540px",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "slider_item_mobile",
      "label": "Mobile item",
      "info": "Width : > 320px",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "Slider autoplay"
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay_enable",
      "label": "Show autoplay",
      "default": true
    },
    {
      "type": "number",
      "id": "slider_autoplay_timeout",
      "label": "Autoplay timeout",
      "default": 5000,
      "info": "Put timeout by multiply 'X1000' this field"
    },
    {
      "type": "number",
      "id": "slider_autoplay_speed",
      "label": "Autoplay speed",
      "default": 1000,
      "info": "Put speed by multiply 'X100' this field"
    },
    {
      "type": "checkbox",
      "id": "arrow_enable",
      "label": "Show slider arrow",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dots_enable",
      "label": "Show slider dots",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slider_cat",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "slider_category_handle",
          "label": "Select collection"
        },
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "Image",
          "info": "Recommended size: 510x580px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "slider_cat"
        },
        {
          "type": "slider_cat"
        },
        {
          "type": "slider_cat"
        },
        {
          "type": "slider_cat"
        }
      ]
    }
  ]
}
{% endschema %}