{{ 'collection.css' | asset_url | stylesheet_tag }}
{{ 'collection-sidebar.css' | asset_url | stylesheet_tag }}
{{ 'search-page.css' | asset_url | stylesheet_tag }}
<section class="search-page main-content-wrap shop-page section-ptb">
  <div class="{% if section.settings.container == 'fluid' %}container-fluid {% else %}container{% endif %}">
    <nav class="search-breadcrumb" aria-label="breadcrumb">
      <ul class="search-breadcrumb-list list-unstyled">
        <li>
          <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">
            {{- 'general.breadcrumbs.home' | t -}}
          </a>
        </li>
        <li>
          <span>
            {%- if search.performed -%}
              {{ 'collections.facets.results_with_count' | t: terms: search.terms, count: search.results_count }}
            {%- else -%}
              {{ 'templates.search.submit' | t }}
            {%- endif -%}
          </span>
        </li>
      </ul>
    </nav>

    <div class="search-page-head">
      <h1 class="search-page-title mr-0">
        {{ 'templates.search.title' | t }}{%- if search.terms != blank %}: {{ search.terms | escape }}{% endif -%}
      </h1>
    </div>

    {%- if search.performed -%}
      <div class="search-items-head">
        <h2 class="search-items-title mr-0">{{ 'templates.search.items' | t | default: 'Items' }}</h2>
      </div>
      {%- if section.settings.tab_bar_enable or section.settings.short_by_enable -%}
        {%- render 'collection-sorting', results: search -%}
      {%- endif -%}
      <div class="pro-grli-wrapper left-side-wrap">
        <div class="pro-grli-wrap product-grid">
          <div class="get-data-products">
            <div id="ProductGridContainer">
              {%- assign products_limit = section.settings.products_limit_handle -%}
              {%- paginate search.results by products_limit -%}
                {%- if search.results.size > 0 -%}
                    <div class="shop-product-wrap grid-3 collection">
                      <ul class="product-view list-unstyled {{ section.settings.product_view }} {{ section.settings.product_view_lg }} {{ section.settings.product_view_sm }}" id="product-grid" data-id="{{ section.id }}">
                        {% for item in search.results %}
                          <li class="st-col-item">
                            {%- case item.object_type -%}
                              {%- when 'product' -%}
                                {% render 'product-grid-item', product: item %}
                              {%- when 'article' -%}
                                {% render 'blog-grid-item', article: item %}
                              {%- when 'page' -%}
                                <div class="page-wrapper">
                                  <a href="{{ item.url }}">
                                    {{ item.title | escape }}
                                  </a>
                                  <span class="label">
                                    {{- 'templates.search.page' | t -}}
                                  </span>
                                </div>
                            {%- endcase -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                    {% if paginate.pages > 1 %}
                      <div class="paginatoin-area">
                        {%- render 'pagination', paginate: paginate -%}
                      </div>
                    {% endif %}
                {%- else -%}
                  <div class="empty-product collection" id="product-grid" data-id="{{ section.id }}">
                    <div class="product-icon-title">
                      <h2 class="mr-0">{{ 'collections.general.empty_product_title' | t }}</h2>
                    </div>
                    <div class="product-desc">
                      <flt-clear>
                        <p class="mr-0 text-danger">
                          {{ 'collections.general.empty_product_desc' | t | append: ',' }}
                          {{ 'collections.general.empty_product_use_fewer_filters' | t }}
                        </p>
                      </flt-clear>
                    </div>
                  </div>
                {%- endif -%}
              {%- endpaginate -%}
            </div>
          </div>
        </div>
        <div class="pro-grli-wrap product-sidebar">
          <div id="main-collection-filters" data-id="{{ section.id }}">
            {% render 'collection-sidebar', results: search %}
            <script src="{{ 'collection-sidebar.js' | asset_url }}" defer="defer"></script>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>
<script type="text/javascript">
  addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('#pro-{{ section.id }}', {
      slidesPerView: 1,
      grid: {
        rows: 2,
        fill: 'row' | 'column',
      },
      spaceBetween: 30,
      observer: true,
      observeParents: true,
      watchSlidesProgress: true,
      {%- if request.locale.iso_code == 'ar' -%}
      rtl: true,
      {%- endif -%}
      navigation: {
        nextEl: '.swiper-next-{{ section.id }}',
        prevEl: '.swiper-prev-{{ section.id }}',
      },
      pagination: {
        el: ".swiper-pagination-{{ section.id }}",
        clickable: true
      },
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true
      },
      speed: 1000,
      breakpoints: {
        1199: {
          slidesPerView: 1,
          grid: {
            rows: 2,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        },
        1499: {
          slidesPerView: 1,
          grid: {
            rows: 2,
            fill: 'row' | 'column',
          },
          spaceBetween: 30,
        }
      }
    });
  });
</script>
{% schema %}
{
  "name": "Search results",
  "settings": [
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Section width",
      "options": [
        {
          "label": "Fluid",
          "value": "fluid"
        },
        {
          "label": "Normal",
          "value": "normal"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Section background color"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Product options"
    },
    {
      "type": "number",
      "id": "products_limit_handle",
      "label": "Product limit",
      "default": 24,
      "info": "How many posts will appear on each page"
    },
    {
      "type": "select",
      "id": "product_view",
      "label": "Grid view",
      "options": [
        {
          "label": "2 grid",
          "value": "grid-2"
        },
        {
          "label": "3 grid",
          "value": "grid-3"
        },
        {
          "label": "4 grid",
          "value": "grid-4"
        },
        {
          "label": "5 grid",
          "value": "grid-5"
        },
        {
          "label": "6 grid",
          "value": "grid-6"
        }
      ],
      "default": "grid-5"
    },
    {
      "type": "select",
      "id": "product_view_lg",
      "label": "Grid view ipad",
      "options": [
        {
          "label": "2 grid",
          "value": "grid-lg-2"
        },
        {
          "label": "2 grid",
          "value": "grid-lg-3"
        },
        {
          "label": "4 grid",
          "value": "grid-lg-4"
        }
      ],
      "default": "grid-lg-4"
    },
    {
      "type": "select",
      "id": "product_view_sm",
      "label": "Grid view mobile",
      "options": [
        {
          "label": "1 grid",
          "value": "grid-sm-1"
        },
        {
          "label": "2 grid",
          "value": "grid-sm-2"
        }
      ],
      "default": "grid-sm-2"
    },
    {
      "type": "header",
      "content": "Sorting"
    },
    {
      "type": "checkbox",
      "id": "tab_bar_enable",
      "label": "Show filter button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "short_by_enable",
      "label": "Show sort by",
      "default": true
    }
  ]
}
{% endschema %}
<style>
.shop-page {
  background: {{ section.settings.section_background_color }};
}
</style>
